<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dotnet11" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet11/nuget/v3/index.json" />
  </packageSources>
  <!-- Source mapping matches IDs, not versions. These IDs are used in stable versions from
       nuget.org and in daily .NET 11 versions, so they must be mapped to both sources. -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.EntityFrameworkCore*" />
      <package pattern="Microsoft.Data.Sqlite.Core" />
      <package pattern="Microsoft.Extensions.Caching.Memory" />
      <package pattern="Microsoft.Extensions.Configuration" />
      <package pattern="Microsoft.Extensions.Configuration.Binder" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.DependencyModel" />
      <package pattern="Microsoft.Extensions.Diagnostics" />
      <package pattern="Microsoft.Extensions.Hosting.Abstractions" />
      <package pattern="Microsoft.Extensions.Http" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Configuration" />
      <package pattern="Microsoft.Extensions.Logging.Console" />
      <package pattern="Microsoft.Extensions.Options.ConfigurationExtensions" />
    </packageSource>
    <packageSource key="dotnet11">
      <package pattern="Microsoft.EntityFrameworkCore*" />
      <package pattern="Microsoft.Data.Sqlite.Core" />
      <package pattern="Microsoft.Extensions.Caching.Memory" />
      <package pattern="Microsoft.Extensions.Configuration" />
      <package pattern="Microsoft.Extensions.Configuration.Binder" />
      <package pattern="Microsoft.Extensions.DependencyInjection" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.DependencyModel" />
      <package pattern="Microsoft.Extensions.Diagnostics" />
      <package pattern="Microsoft.Extensions.Hosting.Abstractions" />
      <package pattern="Microsoft.Extensions.Http" />
      <package pattern="Microsoft.Extensions.Logging" />
      <package pattern="Microsoft.Extensions.Logging.Configuration" />
      <package pattern="Microsoft.Extensions.Logging.Console" />
      <package pattern="Microsoft.Extensions.Options.ConfigurationExtensions" />
    </packageSource>
  </packageSourceMapping>
</configuration>
